@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #212121;
  color: black;
}

body {
  background-color: #212121;
  color: black;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-hide {
  overflow: scroll;
}
.scrollbar-hide {
  width: 0px;
}

.scrollbarchps {
  overflow: scroll;
}
.scrollbarchps::-webkit-scrollbar {
  width: 0px;
}

.scrollingbarwatchpage {
  overflow-y: scroll;
}
.scrollingbarwatchpage::-webkit-scrollbar {
  width: 0px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
